/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
iframe {
  max-width: 100%;
  display: block;
}

iframe {
  aspect-ratio: 16/9;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.fas {
  font-size: 1.2em;
}

.navbar {
  background-color: #e37cff;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.navbar .logo {
  height: 60px;
  width: 60px;
  grid-column: 2/3;
}
.navbar .menu {
  grid-column: 4/7;
  display: flex;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navbar a:hover {
  color: #fff;
}
.navbar .menu-bar {
  display: none;
}
.navbar .shop {
  grid-column: 8/9;
  justify-content: flex-end;
}

.hero {
  height: 83vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.9)), url(https://images.pexels.com/photos/1179002/pexels-photo-1179002.jpeg?cs=srgb&dl=pexels-julias-torten-und-t%C3%B6rtchen-1179002.jpg&fm=jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
.hero .info-content {
  grid-column: 7/10;
  grid-row: 3/7;
  color: #fff;
  z-index: 1;
}
.hero .info-content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
}
.hero .info-content h1 {
  font-weight: 900;
  font-size: 5em;
  color: #e37cff;
}
.hero .info-content p {
  font-family: "Montserrat", sans-serif;
}
.hero .info-content .btn {
  font-size: 1em;
  color: #fff;
  background: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #e37cff;
  margin-top: 10px;
}
.hero .info-content .btn:hover {
  background-color: #e37cff;
  color: #181818;
}

.footer-section {
  display: grid;
  height: 80px;
  align-items: center;
  background-color: #640080;
  color: #fff;
  grid-template-areas: "listen-online follow-me social-network";
}
.footer-section .chef {
  grid-template-areas: listen-online;
  display: flex;
  justify-content: center;
  background-color: #e37cff;
  color: #181818;
  padding: 26px;
}
.footer-section .chef .fas {
  margin-right: 15px;
  font-size: 1.5em;
}
.footer-section h2 {
  grid-template-areas: follow-me;
  text-align: center;
}
.footer-section .social-network {
  grid-template-areas: social-network;
}
.footer-section .social-network .fab {
  font-size: 1.4em;
  color: #e37cff;
  margin-right: 15px;
  justify-content: flex-end;
}

/*# sourceMappingURL=styles.css.map */
